.navbar-header-custom {
    background-color: #28a745; 
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    font-weight: bold;
    color: #343a40; 
}
#tabla-cursos thead tr {
    background-color: #343a40 !important; 
    color: white;
}

#tabla-cursos th.text-center, 
#tabla-cursos td.text-center {
    text-align: center !important;
}
#tabla-cursos th.text-end, 
#tabla-cursos td.text-end {
    text-align: right !important;
}
.btn-info {
    --bs-btn-bg: #ede321; 
    --bs-btn-border-color: #ede321;
}
.btn-danger {
    
    --bs-btn-bg: #dc3545; 
    --bs-btn-border-color: #dc3545;
}